<!DOCTYPE html>

<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,
                   initial-scale=1,
                   maximum-scale=1,
                   minimum-scale=1,
                   user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>IWDMobile</title>
<link href="dojo1.7/dojox/mobile/themes/iphone/iphone.css"
	rel="stylesheet" />
<script type="text/javascript" src="dojo1.7/dojo/dojo.js"
	djConfig="isDebug:true, parseOnLoad:true">
	
</script>
<script language="JavaScript" type="text/javascript">
	dojo.require("dojox.mobile.parser");
	dojo.require("dojox.mobile");
	dojo.requireIf(!dojo.isWebKit, "dojox.mobile.compat");
</script>
</head>
<body>
</body>
</html>